/* ====== Google Fonts ====== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
  }

/* ============ Header ============ */

/* --- Start NavMenu --- */

.navbar-brand span {
    color: white;
}

.navbar-nav .nav-link {
    color: #fff!important;
}

.navbar {
    box-shadow: 0 .4rem .4rem rgba(0,0,0,.2);
        
}

.navbar .navbar-brand span {
    font-size: 40px;
    font-family: 'Pacifico';
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    margin: 0 5px 5px;
    margin-left: 20px;
}

.nav-item a {
    font-size: 20px;
    margin-right: 20px;
}

.navbar a:hover {
    border-bottom: #fff 1.5px solid;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #F26934!important;
}

/* --- End NavMenu --- */

/* --- Start Hero Section --- */

.hero {
    height: 940px;
    width: 100%;
    background: url(../images/background-hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero .hero-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .text-one {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.hero .text-two {
    color: #fff;
    font-size: 80px;
    font-weight: 550;
    margin-left: -5px;
}

.hero .text-three {
    font-size: 55px;
    font-weight: 450;
    margin-top: -10;
    margin: 5px 0;
    color: #F26934;
    text-decoration-line: underline;
}

.hero .button {
    margin: 15px 0;
}

.hero .button button {
    outline: none;
    padding: 9px 16px;
    border-radius: 6px;
    font-size: 35px;
    font-weight: 500;
    background: black;
    color: #fff;
    border: .5px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.hero .button button:hover {
    border-color: black;
    background-color: white;
    color: black;
}

/* --- End Hero Section --- */

/* --- Start About Section --- */

.about .container {
    margin: 42px auto;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
}

.about .about-details .about-left {
    width: 35%;
}

.about .about-left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px black solid;
}

.about .about-title {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    color: black;
}

.about .about-title span {
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 25px;
}

.about .about-details .about-right {
    width: 65%;
    margin-right: 25px;
}

.about .about-details .about-right p {
    font-size: 20px;
    text-align: justify;
    color: black;
}

.about .about-topic {
    color: black;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 60px;
}

/* --- End About Section --- */


/* --- Start My Skills Section --- */

.skills {
    background: #000;
    height: max-content;
}

.skills .content {
    width: 80%;
    margin: 42px auto;
    font-family: 'Poppins';
}

.skills .skills-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .about-title {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    color: white;
}

.skills .about-title span {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 25px;
}

.skills .boxes {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.boxes .box .skill-topic {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 20px;
    color: #fff;
}

.box {
    padding-right: 20px!important;
}

.progress {
    height: 1.5rem!important;
    margin: auto;
}

.progress .progress-bar {
    font-weight: 600;
    font-size: large;
}

/* --- End My Skills Section --- */

/* --- Start Portfolio Section --- */

#portfolio .about-title {
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 25px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    color: black;
}

.carousel-item {
    height: 32rm;
}

/* --- End Portfolio Section --- */

/* --- Start My Services Section --- */

.myservices {
    background: #000;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.myservices .container {
    align-items: center;
    justify-content: center;
}

.myservices .about-title {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    color: white;
}

.myservices .myservices-topic {
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
    text-decoration: underline;
}

.myservices .about-title span {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 25px;
}

.myservices .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.myservices .boxes .box {
    width: calc(100% / 3 - 20px);
    margin: 20px 0;
    border-radius: 15px;
    padding: 20px 25px;
    box-shadow: 2px 2px 3px 5px rgba(242, 105, 52, 0.30);
    text-align: center;
    color: white;
}

.myservices .boxes .box .myservices-icon {
    line-height: 50px;
    margin: 0 auto 10px auto;
}

.myservices .boxes .box:hover {
    background: rgb(242, 105, 52);
}


/* --- End My Services Section --- */

/* --- Start Contact-me Section --- */

.contact {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.contact .container {
    align-items: center;
    justify-content: center;
}

.contact .contact-title {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    color: black;
}

.contact .contact-title span {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    margin-top: 25px;
}

.contact .text {
    text-align: center;
}

.contact .text .contact-topic {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact .text p {
    font-size: 20px;
    margin: auto;
}

.contact .button {
    margin: 15px 0;
}

.contact .button button {
    outline: none;
    padding: 9px 16px;
    border-radius: 6px;
    font-size: 35px;
    font-weight: 500;
    background: black;
    color: #fff;
    border: .5px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact .button button:hover {
    border-color: black;
    background-color: white;
    color: black;
}

/* --- End Contact-me Section --- */

/* --- Start Footer --- */

footer {
    background: #000;
    padding: 20px 0;
    text-align: center;
}

footer .footer-text span {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

footer .footer-text span a {
    font-weight: 500;
    color: #FFF;
}

footer .footer-text span a:hover {
    text-decoration: underline;
}

/* --- End Footer --- */


/* ============ Start Responsive Media Query ============ */

/* @media (max-width: 1500px) {
    .about .content {
        width: 90%;
    }
} */

@media (max-width: 1400px) {

    .about .about-details .about-left {
        display: flex;
        margin-top: 50px;
        width: 100%;
    }

    .about .about-details .about-right {
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .about .about-title {
        margin-bottom: -20px;
        
    }

    .about .about-details .about-left {
        margin-top: 90px;
    }

    .myservices .boxes .box {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .about .about-title {
        margin-bottom: -50px;

    }
    .about .about-details {
        flex-direction: column;
    }

    .about .about-details .about-left {
        justify-content: center;
        width: 100%;
    }

    .about-details .about-right {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .skills .boxes {
        width: 90%;
        display: inline-block;
        margin-bottom: 50px;
    }
}



@media (max-width: 900px) {

    .hero .text-two {
        font-size: 65px;
    }

    .hero .text-three {
        font-size: 40px;
    }
}

@media (max-width: 750px) {

    .hero .text-two {
        font-size: 54px;
    }

    .hero .text-three {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    
    .hero .text-two {
        font-size: 40px;
    }

    .hero .text-three {
        font-size: 30px;
    }
    
    footer .footer-text span {
        font-size: 17px;
    }

}

@media (max-width: 450px) {
    
    .hero {
        text-align: center;
    }

    .hero .text-two {
        font-size: 40px;
    }

    .hero .text-three {
        font-size: 30px;
    }
}